@model IEnumerable<ConsultoriaWeb.Data.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cuit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.registroAfip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.certPime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.claveFiscal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idReferente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.razonSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.provincia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ciudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.correo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registroAfip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certPime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.claveFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idReferente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
